*{
    
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightyellow;
}
.container{
    color: red;
    
   
    margin-left:40%;
    font-size:40px;
    border: radius 2px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: rgb(131, 32, 32);
    padding: 16px 32px;
    text-decoration: none;
    margin-left: 90px ;
    cursor: pointer;
  }
  h1{
      margin-left: 22%;
  }